<o-form-layout-manager attr="Appointment" mode="tab" title="APPOINTMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="AppointmentTable" 
            service="Appointment" 
            entity="Appointment" 
            title="APPOINTMENT"
            keys="id"
            columns="id;care_service_id;pet_id;appointment_date;amount" 
            header-actions="R;D"
            visible-columns="id;care_service_id;pet_id;appointment_date;amount"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="care_service_id" title="care_service_id">
    <o-table-cell-renderer-service attr="care_service_id" 
        service="CareService" entity="CareServiceType" columns="id;name"
        parent-keys="id:care_service_id"
        value-column="name" keys="care_service_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="pet_id" title="pet_id">
    <o-table-cell-renderer-service attr="pet_id" 
        service="Pet" entity="PetType" columns="id;name"
        parent-keys="id:pet_id"
        value-column="name" keys="pet_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #appointment_date attr="appointment_date" type="timestamp" label="appointment_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #amount attr="amount" title="amount" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>